<div id="output">

</div>
<script type="text/javascript">
	
	apiId = '84d3ad05'
	apiKey = "d9ab1157a71647db8cd73483de102740"
	url = 'https://api.edamam.com/api/food-database/parser?ingr=chocolate&app_id='+apiId+'&app_key='+apiKey

	var xhttp = new XMLHttpRequest();

	xhttp.onreadystatechange = function() {
  		if (this.readyState == 4 && this.status == 200) {
   			document.getElementById("output").innerHTML = this.responseText;
   			console.log(this.responseText)
		}
	};

	xhttp.open("GET", url , true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send();

</script>